// ====== FONTS ======

$text-font: 'Billy', 'JetBrains Mono', monospace;
$subheading-font: 'Billy', 'JetBrains Mono', monospace;

// ====== END FONTS ======

// ====== SIZES ======
// ====== END SIZES ======

// ====== COLORS ======

$preloader-background: #1b1922;

// gallery

$gallery-border-dark: rgb(118, 118, 143);
$gallery-border-light: rgb(167, 171, 185);
$gallery-background: rgba(57, 48, 90, 0.75);
$gallery-background-hover: rgba(78, 71, 128, 0.8);

$gallery-highlight-border-dark: rgb(163, 119, 31);
$gallery-highlight-border-light: rgb(248, 195, 49);
$gallery-highlight-border-xlight: rgb(255, 225, 141);
$gallery-highlight-background: rgba(189, 154, 55, 0.6);
$gallery-highlight-background-hover: rgba(242, 195, 9, 0.6);

// buttons + tags

$button-text-border: rgb(33, 37, 41);
$button-background: rgb(255, 222, 77);
$button-highlight: rgb(251, 247, 177);
$button-shadow: rgb(229, 148, 0);
$button-hover-background: rgb(242, 196, 9);
$button-hover-highlight: rgba(251, 247, 177, 0.5);

$tag-color: white;$tag-background: rgb(78, 49, 158);

$button-inactive-color: rgb(255, 255, 255);
$button-inactive-background: rgb(118, 118, 143);
$button-inactive-highlight: rgb(167, 171, 185);
$button-inactive-shadow: rgb(90, 86, 105);
$button-inactive-hover-shadow: rgb(115, 110, 131);
$button-inactive-hover-background: rgb(157, 157, 182);
$button-inactive-hover-highlight: rgb(196, 200, 214);

// ====== END COLORS ======

// ====== MISCELLANEOUS ======

$cursor-inactive: url('/cursor.png'), auto;
$cursor-active: url('/cursor-click.png'), pointer;

// ====== END MISCELLANEOUS ======
