---
import Main from '../components/share.svelte';
import '../styles/global.css';

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
      <Main></Main>
  </body>
</html>